@import "tailwindcss";



body {
  margin: 0;
  padding: 0;
  font-family: "Bellefair", serif;
}
h3{
 font-family: "Barlow", sans-serif;
 
}

p{
  font-family: "Barlow", sans-serif;
  font-weight: lighter;
}
#home-p2 {
  font-family: "Bellefair", serif;
 
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.animate-fadeIn {
  animation: fadeIn 0.8s ease-in-out;
}



.star-overlay {
  background: 
    radial-gradient(ellipse 50% 40% at bottom center, rgba(255, 255, 255, 0.84) 10%, transparent 55%),
    radial-gradient(ellipse 90% 40% at bottom left, rgba(255, 255, 255, 0.687) 27%, transparent 65%),
    radial-gradient(ellipse 0% 20% at bottom right, rgba(255, 255, 255, 0.038) 10%, transparent 40%),
    linear-gradient(to bottom, #050407, #171946d5); 
}